:root {
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --interactive-color: #2196f3;
  --bg-color: #2f303a;
  --text-color-on-dark-bg: #ffffff;
  --addr-color: rgba(255, 255, 255, 0.6);
  --portfolio-bg-color: #f5f4fa;
  --svg-default-color: #afb1b8;

  --transitions: cubic-bezier(0.4, 0, 0.2, 1);
  --transitions-time: 250ms;
}

body {
  font-family: "Roboto", sans-serif;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

p {
  margin: 0;
}

ul,
ol {
  list-style: none;
  padding: 0;
  margin: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

button {
  font-family: inherit;
  border-radius: 4px;
  font-size: 16px;
  cursor: pointer;
  border: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

a {
  text-decoration: none;
}

header {
  border-bottom: 1px solid #ececec;
  /* height: 80px; */
}

.container {
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
}

.header-wrapper {
  display: flex;
  gap: 93px;
}

.header-menu {
  display: flex;
  justify-content: center;
}

.header-items {
  display: flex;
  gap: 50px;
  align-items: center;
}

.header-contacts {
  display: flex;
  gap: 30px;
  align-items: center;
}

.header-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.2;
}

.header-logo-left {
  color: var(--interactive-color);
}

.header-logo-right {
  color: var(--main-text-color);
}

.header-nav-link {
  color: var(--main-text-color);
  padding: 10px 0;
  transition: color var(--transitions-time) var(--transitions);
}

.header-nav-link.active {
  position: relative;
  color: var(--interactive-color);
}

.header-nav-link.active::after {
  content: "";
  display: block;
  position: absolute;

  width: 100%;
  height: 4px;
  bottom: -62%;

  background-color: var(--interactive-color);
  border-radius: 2px;
}

.header-contact-link {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  color: var(--secondary-text-color);

  transition: color var(--transitions-time) var(--transitions);
}

.contact-icon {
  fill: currentColor;
}

.header-contact-link:hover,
.header-contact-link:focus,
.header-nav-link:hover,
.header-nav-link:focus {
  color: var(--interactive-color);
}

.item {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.hero {
  background-color: var(--bg-color);
}

.overlay {
  height: 600px;
  max-width: 1600px;

  margin-left: auto;
  margin-right: auto;

  background-image: linear-gradient(
      rgba(47, 48, 58, 0.4),
      rgba(47, 48, 58, 0.4)
    ),
    url("../images/hero-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.hero-container {
  padding-top: 200px;
  padding-bottom: 200px;
}

.hero-slogan {
  max-width: 700px;
  margin: 0 auto;

  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;

  color: var(--text-color-on-dark-bg);
}

.hero-button {
  display: block;
  margin: 30px auto;
  min-width: 216px;
  min-height: 50px;

  background: var(--interactive-color);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  font-weight: 700;
  line-height: 1.88;

  text-align: center;
  letter-spacing: 0.06em;

  color: var(--text-color-on-dark-bg);
}

.qualities-items {
  display: flex;

  justify-content: space-between;
}

.qualities-item {
  width: 270px;
}

.qualities-item::before {
  content: "";
  display: block;
  margin-bottom: 30px;
  height: 120px;

  background: var(--portfolio-bg-color);
  background-repeat: no-repeat;
  background-position: center;

  border-radius: 4px;
}

.icon-antenna::before {
  background-image: url("../images/svg/antenna.svg");
}

.icon-clock::before {
  background-image: url("../images/svg/clock.svg");
}

.icon-diagram::before {
  background-image: url("../images/svg/diagram.svg");
}

.icon-astronaut::before {
  background-image: url("../images/svg/astronaut.svg");
}

.quality-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
}

.quality-description {
  margin-top: 10px;

  font-size: 14px;
  line-height: 1.71;

  color: var(--secondary-text-color);
}

.subtitle {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
}

.what-we-do {
  padding-bottom: 94px;
}

.what-we-do-items {
  display: flex;
  justify-content: space-between;
  margin: 50px 0 0 0;
}

.what-we-do-item:not(:last-child) {
  margin-right: 30px;
}

.what-we-do-item {
  position: relative;
}

.what-we-do-description {
  display: inline-block;
  width: 100%;

  position: absolute;
  padding-top: 27px;
  padding-bottom: 27px;

  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color-on-dark-bg);
  background-color: rgba(47, 48, 58, 0.8);

  transform: translateY(-100%);
}

.staff {
  background: var(--portfolio-bg-color);
}

.staff-cards {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
}

.staff-card {
  padding-bottom: 30px;

  background-color: #ffffff;
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
}

.staff-photo {
  background: var(--secondary-text-color);
}

.staff-name {
  margin-top: 30px;

  font-weight: 500;
  line-height: 1.18;
  text-align: center;
}

.staff-position {
  margin-top: 10px;

  line-height: 1.18;
  text-align: center;

  color: var(--secondary-text-color);
}

.network-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-top: 16px;
}

.network-link {
  display: flex;
  justify-content: center;
  align-items: center;

  width: 44px;
  height: 44px;

  color: var(--svg-default-color);

  border-radius: 50%;

  transition: color var(--transitions-time) var(--transitions),
    background-color var(--transitions-time) var(--transitions);
}

.network-icon {
  fill: currentColor;
}

.network-link:hover,
.network-link:focus {
  color: var(--text-color-on-dark-bg);
  background-color: var(--interactive-color);
}

.customer-list {
  display: flex;
  margin-top: 50px;
  gap: 30px;
  /* flex-wrap: wrap; */
}

.customer-item {
  width: 170px;
  height: 92px;
}

.customer-link {
  /* display: block; */
  width: 100%;
  height: 100%;

  display: flex;
  justify-content: center;
  align-items: center;

  color: var(--svg-default-color);

  border: 1px solid var(--svg-default-color);
  border-radius: 4px;

  transition: color var(--transitions-time) var(--transitions),
    border-color var(--transitions-time) var(--transitions);
}

.customer-link:hover,
.customer-link:focus {
  color: var(--interactive-color);
  border-color: var(--interactive-color);
}

.customer-icon {
  fill: currentColor;
}

.filter-items {
  display: flex;
  justify-content: center;
}

.filter-button {
  padding: 6px 25px;

  font-weight: 500;
  line-height: 1.62;
  text-align: center;
  letter-spacing: 0.03em;

  background: var(--portfolio-bg-color);

  transition: background-color var(--transitions-time) var(--transitions),
    color var(--transitions-time) var(--transitions),
    box-shadow var(--transitions-time) var(--transitions);
}

.filter-item:not(:first-child) {
  margin-left: 8px;
}

.filter-button:hover {
  background-color: var(--interactive-color);
  color: var(--text-color-on-dark-bg);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
}

.portfolio-items {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
  margin-top: 50px;
}

.portfolio-item {
  flex-basis: calc((100% - 2 * 30) / 3);
  color: var(--text-color-on-dark-bg);
}

.portfolio-link {
  display: block;

  transition: box-shadow var(--transitions-time) var(--transitions);
}

.portfolio-link:hover,
.portfolio-link:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06),
    1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-link:hover .portfolio-description,
.portfolio-link:focus .portfolio-description {
  transform: translateY(0);
}

.portfolio-img-wrapper {
  position: relative;
  overflow: hidden;
}

.portfolio-description {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;

  padding: 63px 24px;

  font-weight: 400;
  font-size: 18px;
  line-height: calc(28 / 18);
  letter-spacing: 0.03em;

  color: var(--text-color-on-dark-bg);
  background-color: rgba(33, 150, 243, 0.9);

  transform: translateY(100%);

  transition: transform var(--transitions-time) var(--transitions);
}

.portfolio-info {
  padding: 20px 24px;
  border: 1px solid #eeeeee;
  border-top: 0;
}

.portfolio-title {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;

  color: var(--main-text-color);
}

.portfolio-type {
  margin-top: 4px;

  line-height: 1.88;

  color: var(--secondary-text-color);
}

.footer {
  padding-top: 60px;
  padding-bottom: 60px;

  background-color: var(--bg-color);
}

.footer-container {
  display: flex;
  align-items: baseline;
}

.footer-logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.footer-logo-left {
  color: var(--interactive-color);
}

.footer-logo-right {
  color: var(--text-color-on-dark-bg);
}

.footer-contacts {
  display: flex;
  flex-direction: column;
  gap: 9px;
}

.footer-address {
  margin-top: 20px;
  display: flex;

  font-style: normal;
  font-size: 14px;
  line-height: 1.71;
}

.footer-address-str {
  color: var(--text-color-on-dark-bg);
}

.footer-address-link {
  color: var(--addr-color);

  transition: color var(--transitions-time) var(--transitions);
}

.footer-address-link:hover {
  color: var(--interactive-color);
}

.footer-networks {
  width: 206px;
  height: 80px;

  margin-left: 70px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-subtitle {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  letter-spacing: 0.03em;
  text-transform: uppercase;

  color: var(--text-color-on-dark-bg);
}

.footer-network-link {
  background-color: rgba(255, 255, 255, 0.1);
  color: var(--text-color-on-dark-bg);
}

.backdrop {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  z-index: 100;

  background-color: rgba(0, 0, 0, 0.2);

  transition: opacity var(--transitions-time),
    visibility var(--transitions-time);
}

.backdrop.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}

.modal {
  position: absolute;
  width: 528px;
  height: 581px;

  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  background: var(--text-color-on-dark-bg);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.modal-btn {
  position: absolute;
  width: 30px;
  height: 30px;

  top: 8px;
  right: 8px;

  background: var(--text-color-on-dark-bg);
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
}
